all:
 hosts:
{% for instance in instances['results'] | json_query('[]') %}
   {{ instance.instance_name }}: 
     ansible_host: {{ instance.server.public_v4 }}
     ip: {{ instance.server.private_v4 }}
     access_ip: {{ instance.server.private_v4 }}
     ansible_user: cloud-user
{% endfor %}
 children:
   kube-master:
     hosts:
       {{ instances['results'] | json_query('[0].instance_name') }}:
   kube-node:
     hosts:
{% for instance in instances['results'] | json_query('[]') %}
{% if loop.index > 1 %}
      {{ instance.instance_name }}:
{% endif %}
{% endfor %}
   etcd:
     hosts:
{% for instance in instances['results'] | json_query('[]') %}
      {{ instance.instance_name }}:
{% endfor %}
   k8s-cluster:
     children:
       kube-master:
       kube-node:
   calico-rr:
     hosts: {}

