{{ instances['results'] | json_query('[0].instance_name') }} ansible_connection=local local_release_dir={{ansible_env.HOME}}/releases

[all]
{% for instance in instances['results'] | json_query('[]') %}
{{ instance.instance_name }} ansible_host={{ instance.server.public_v4 }} etcd_member_name=etcd{{ loop.index }}
{% endfor %}

[kube-master]
{% for instance in instances['results'] | json_query('[]') %}
{{ instance.instance_name }} ansible_host={{ instance.server.public_v4 }}
{% endfor %}

[etcd]
{% for instance in instances['results'] | json_query('[]') %}
{{ instance.instance_name }} ansible_host={{ instance.server.public_v4 }}
{% endfor %}

[kube-node]
{% for instance in instances['results'] | json_query('[]') %}
{% if loop.index > 1 %}
{{ instance.instance_name }} ansible_host={{ instance.server.public_v4 }}
{% endif %}
{% endfor %}

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node
calico-rr
